#create_leave{
    width: 40%;
    height: 600px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 30px;
}
#create_leave>h2{
    text-align: center;
    padding-top: 20px;
    color: #124a85;
    letter-spacing: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
#create_leave>label{
    padding-left: 60px;
}
#to{
    width: 63%;
    height: 40px;
    margin-bottom: 20px;
    margin-left: 80px;
    padding-left: 20px;
}
#Datefrom{
    width: 64%;
    height: 40px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding-left: 20px;
}
#Dateto{
    width: 64%;
    height: 40px;
    margin-bottom: 20px;
    margin-left: 40px;
    padding-left: 20px;
}
#signature{
    width: 65%;
    height: 40px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding-left: 20px;
}
#create_leave>textarea{
    width: 80%;
    height: 60px;
    margin-left: 60px;
    margin-bottom: 20px;
    margin-top: 10px;
    padding-left: 20px;
}
#apply{
    width: 85%;
    height: 45px;
    margin-left: 55px;
    margin-bottom: 20px;
    margin-top: 10px;
    border:1px solid #124a85;
    background-color: #124a85;
    color: white;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: medium;
    letter-spacing: 2px;
}
#apply:hover{
    background-color: #fff;
    color: #124a85;
}
#leave_type{
    width: 80%;
    height: 40px;
    margin-left: 60px;
    margin-bottom: 20px;
    padding-left: 20px;
}